h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.axis path,
.axis line {
  fill:none;
  stroke: #000;
  shape-rendering: crispEdges;
}

x.axis path {
  display: none;
}

.bars rect {
  fill: #006d2c;
}

#mapContainer {
  position: relative;
  height: 850px;
}

#slider {
  margin: 20px 0 20px 20px;
}

#margin-top {
  height: 20px
}

#charts {
  background-color: #edf8e9
}

#checkboxes {
  transform: translate(20px)
}

#bottom {
  background-color: #edf8e9
}

.form-check-label {
  font-size: 10px
}

/*#top {
  background-color: #F4F4F4
}*/
